Харьковский портал оплаты коммунальных услуг
______________________________________________
Стартовая страница

Каталог услуг для оплаты (список всех возможных оплат с иконками сервисов)
Войти / Регистрация
Оплатить (для зарегистрированных)
Текущая дата и время
______________________________________________
Пользователь при регистрации задает:

- email
- пароль
- подтвердить пароль
- ФИО
- номер телефона
после регистрации попадаешь в личный кабинет, где будет виден список добавленных адресов
______________________________________________
Оплата
- выбранных услуг
- итог
- перейти к оплате
______________________________________________
Личный кабинет
- добавление адресов
- на каждый адрес свои коммунальные платежи
- персональные данные (email)
- история платежей
- если остаток отрицательный - оплатить
- удаление аккаунта (переадресация на стартовую страницу + лог аут + удаление из БД)
______________________________________________